@media screen and (max-width: 1200px) {
  /* # NAVBAR SECTION */
  .nav-bar {
    display: none;
  }
  /* # HAMBURGER NAV */
  .hamburger-nav {
    display: flex;
  }
  .hamburger-logo {
    padding-left: 2vw;
  }
  .hamburger-menu {
    margin-right: 4vw;
  }
  .hamburger-icon {
    padding-right: 4vw;
  }
}

@media screen and (max-width: 1025px) {
  html {
    font-size: 90%;
  }
  main {
    padding-left: 7px;
  }
  /* ### first container */
  .about-col-1 {
    flex-basis: 35%;
  }
  /* ### second conatiner */
  .about-col-2 {
    flex-basis: 60%;
  }
  /* ##### tab-details - id:skills */
  .skill-container {
    height: 20vh;
    width: 100%;
  }
  #about img {
    transform: translateY(30px);
  }
}

@media screen and (max-width: 769px) {
  /* ## home */
  #home {
    flex-direction: column;
    gap: 7vw;
  }
  .hamburger-logo {
    margin-left: 4vw;
    height: 2.5rem;
    width: auto;
  }
  .profile-picture {
    width: 50vw;
  }
  .btn-container .btn {
    width: 9rem;
  }
  /* ## about */
  #about {
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
  }
  #about img {
    width: 50vw;
    height: auto;
  }
  #about .about-col-1 {
    display: flex;
    justify-content: center;
    background-color: rgba(136, 87, 34, 0.4);
    background-color: white;
    padding: 1rem 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .about-col-2 {
    margin-top: 1rem;
    padding: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  /* ##### tab-details - id:skills */
  .skill-container {
    width: 85vw;
    height: 20vh;
  }

  /* PORJECTS */
  #projects .project-title {
    margin-bottom: 2rem;
  }
  .mySlides {
    height: fit-content;
    flex-direction: column;
    padding: 0 2rem;
    box-shadow: none;
  }
  .slide-details {
    position: static;
    order: 2;
    border-right: 1px solid black;
    width: 100%;
    border-radius: 0 0 20px 20px;
  }
  .slide-details * {
    position: static;
  }
  .slide-details br {
    display: none;
  }
  .slide-details h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    display: block;
  }
  .slide-details .tech-icon {
    margin: 1rem 0;
    margin-top: 1.2rem;
  }
  .slide-picture {
    position: static;
    order: 1;
    margin: 0;
    width: 100%;
    height: fit-content;
    border-radius: 20px 20px 0 0;
  }
  .next,
  .prev {
    color: rgb(170, 170, 170);
  }
  .numbertext {
    color: white;
    background-color: rgba(0, 0, 0, 0.475);
  }
  #contact .contact-row {
    flex-direction: column;
    gap: 4rem;
  }
  #contact .social-icon {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 769px) and (min-width: 456px) {
  /* #### titles: About Me */
  .sub-title {
    font-size: 4rem;
  }
  /* #### descriptions */
  .about-col-2 p {
    font-size: 1.5rem;
  }

  /* #### tab details: content according to tittles */
  .tab-details ul li span {
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
  }
  .tab-details ul li {
    font-size: 1.2rem;
  }
  /* ##### tab-details - id:skills */
  .header-skills {
    font-size: 1.5rem;
  }
  .flex-container > div {
    font-size: 1rem;
  }
  #about img {
    transform: translateY(0);
  }
  .skill-container {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 456px) {
  /* ## home - profile picture */
  .profile-picture {
    width: 70vw;
  }
  /* #### tab titles with links */
  .tab-links {
    margin-right: 35px;
  }
  .tab-links:last-child {
    margin-right: 0;
  }
  /* ##### tab-details - id:skills */
  .skill-container {
    width: 100%;
    height: auto;
  }
  #about img {
    transform: translateY(0);
  }
}

@media screen and (max-width: 321px) {
  /* #### tab titles with links */
  .tab-links {
    margin-right: 25px;
    width: fit-content;
  }
}
